services:
  booking_db:
    restart:
      unless-stopped
    image:
      postgres:16
#    ports:
#      - '6432:5432'
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
    # will take them from default .env file
    volumes:
      - pg-booking-data:/var/lib/postgresql/data
#    healthcheck:   # will run forever
#      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
#      interval: 0.01s
#      retries: 10000

  booking_cache:
    restart:
      unless-stopped
    image:
      redis:7.4
#    ports:
#      - "7379:6379"

  booking_back:
    restart:
      unless-stopped
    build:
      context: .
#    ports:
#      - "7777:8000"
    env_file:
      .env
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - booking_db
      - booking_cache
#      booking_db:
#        condition: service_healthy
#      booking_cache:
#        condition: service_started  # default

  booking_celery_worker:
    build:
      context: .
    env_file:
      ".env"
    depends_on:
      - booking_back
    command:
      celery --app=src.tasks.celery_app:celery_instance worker -l INFO

  booking_celery_beat:
    build:
      context: .
    env_file:
      .env
    depends_on:
      - booking_back
    command:
      celery --app=src.tasks.celery_app:celery_instance beat -l INFO

  booking_nginx:
    restart:
      unless-stopped
    image:
      nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - booking_back

volumes:
  pg-booking-data:

# default network with type bridge will be created
# network and containers outer names start with current folder name

# docker volume rm  fastapi_arsh_pg-booking-data [folder-name+volume]
# docker-compose up --build (to rebuild with changed ENV)

# docker volume ls | grep booking
# docker network ls (fastapi_arsh_default)

# [instead of forever healthcheck on first startup:]
# docker-compose run --rm booking_db to initialize DB and create volume first time, then stop and up (?)
